.anime-card{
    font-size: 15px;
}
.relation {
    min-height: 100px;
}

@media screen and (min-width: 768px) {
    .anime-frame {
        width: 47%;
        margin-right: 3%;
    }
    .anime-title{
        align-items: center;
        font-size: 18px;
        font-weight: bold;
    }
}

@media screen and (max-width: 768px)
{
    .anime-title{
        align-items: center;
        font-size: 14px;
        font-weight: bold;
    }
}