.drop-zone {
    padding-top: 70px;
    background-color: #131E2A;
    min-height: 100vh;
}

.image-filter {
    margin-left: 5%;
    margin-right: 5%;
}

.imageShowStyle{
    max-height:  30rem;
    max-Width: 35rem;
    margin: auto 0;
}

@media only screen and (max-width: 768px) {
    .imageShowStyle{
        max-height:  18rem;
        max-Width: 21rem;
    }
  }