.AnimeForm-Frame{
    background-color: #19293B;
    color: white;
    height: auto;
    margin-top: 8%;
    border-radius: 8px;
}

.AddCharacterButton{
    background-color: #14A38B;
    color: white;
}

.UploadButton{
    background-color: #14A38B;
    color: white;
    width: 20%;
}

.xButton{
    margin-right: -3%;
    border-radius: 50%;
    background-color: #EC294B;
}
