.setting-container {
    background: linear-gradient(180deg, #14A38B 40vh, #131E2A 40vh);
}

.setting-left {
    width: 0%;
}

.setting-right {
    min-height: 100vh;
    width: 100%;
}

@media screen and (min-width: 768px) {
    .setting-left {
        width: 20%;
    }
    
    .setting-right {
        width: 80%;
    }

    .btn-left-nav {
        display: none;
    }
}