.threadAnimeList {
    position: fixed;
    overflow-y: scroll;
    height: 89%;
    right: 0%;
}

.advertisement {
    position: fixed;
    left: 0%;
    height: 88%;
}

.threadCenter {
    overflow-y: scroll;
}

#threadList {
    min-height: 50vh;
}