.threadFixed {
    position: fixed;
    height: 100vh;
}

.threadAnimeList {
    overflow-y: scroll;
    height: 95%;
    right: 0%;
}

.threadCenter {
    overflow-y: scroll;
    height: 94%;
    right: 0%;
}

@media screen and (min-width: 768px) {
    .threadCenter {
    overflow-y: scroll;
    height: 94%;
    right: 27%;
}
}