#formLogin {
    text-align: center;
    margin-top: 80px;
    border-radius: 80px;
    background-color: transparent !important;
    border: none !important;
    align-items: center;
    height: 96vh;
}

input[type=text],
input[type=password],
input[type=email] {
    width: 310px;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 2px solid #ccc;
    border-radius: 8px;
    box-sizing: border-box;
}

body {
    background-image: url(img/bg-01.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    
}

b {
    color: white;
    text-shadow: 2px 2px black;
    font-size: 35px;
    margin-bottom: 30px;
}

h5 {
    color: white;
    text-shadow: 2px 2px black;
    font-size: 15px;
}

#register {
    opacity: 0.8;
}


/* Login Button */

/* .btn-login {
    border: 0 solid;
    box-shadow: inset 0 0 20px rgba(255, 255, 255, 0);
    outline: 1px solid;
    outline-color: rgba(255, 255, 255, .5);
    outline-offset: 0px;
    text-shadow: none;
    transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
    width: 310px;
    background-color: #14A38B;
    color: white;
    text-decoration: bold;
    font-weight: bold;
}

.btn-login:hover {
    border: 1px solid;
    box-shadow: inset 0 0 20px rgba(107, 38, 171, 0.5), 0 0 20px rgba(49, 32, 103, 0.2);
    outline-color: rgba(255, 255, 255, 0);
    outline-offset: 15px;
    text-shadow: 1px 1px 2px #4a7618;
} */

.btn-login {
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    font-weight: 400;
    line-height: 45px;
    max-width: 160px;
    position: relative;
    text-transform: uppercase;
    width: 100%;
}

.btn-login svg {
    height: 45px;
    left: 0;
    position: absolute;
    top: 5px;
    width: 100%;
}
.btn-login rect {
    fill: none;
    stroke: #fff;
    stroke-width: 2;
    stroke-dasharray: 422, 0;
    transition: all 0.35s linear;
}
.btn-login:hover {
    background: rgba(214, 213, 213, 0);
    font-weight: 900;
    letter-spacing: 1px;
    color: white;
}
.btn-login:hover rect {
    stroke-width: 5;
    stroke-dasharray: 15, 310;
    stroke-dashoffset: 48;
    transition: all 1.35s cubic-bezier(0.19, 1, 0.22, 1);
}

.btn-login:text{
    display: inline-block;
    vertical-align: middle;
}
/* End of button login */



@media screen and (max-width: 768px) {
    body {
        background-image: url(img/bg-01.jpg);
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: center;
        background-size: cover;
    }
    input[type=text],
    input[type=password],
    b,
    h5 {
        align-items: center;
    }
    #formLogin {
        background-color: transparent !important;
        border: none !important;
    }
}