body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.nav-white-text {
  color: white;
  text-decoration: none;
}

.bg-dark {
  background-color: #131E2A;
  color: #FFF;
}

.bg-dark-content {
  background-color: #19293B;
  color: #FFF;
}

.bg-footer {
  background-color: #11161d;
  color: #FFF;
}

.bg-white {
  background-color: #EDF1F5;
  color: #76899C;
}

.bg-white-content {
  background-color: #FAFAFA;
  color: #76899C;
}

.bg-green {
  background-color: #14A38B;
  color: #FFF;
}

.bg-white-txt-green {
  background-color: #FFF;
  color: #14A38B;
}